@charset "UTF-8";
/*IMPORTS*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
* {
  text-decoration: none;
  margin: 0px;
  padding: 0px;
  font-family: 'Roboto', sans-serif; }

body {
  background-image: url("../img/tramado.png"); }

html {
  font-size: 62.5%; }

h1 {
  font-size: 2.9rem;
  color: #63B945;
  font-weight: bold;
  text-align: center; }

p, li {
  font-size: 1.6rem; }

a {
  text-decoration: none; }

/* CABECERA */
.logotipo {
  display: flex;
  flex-flow: column wrap;
  justify-content: center; }
  .logotipo img {
    margin: 0px auto;
    width: 23rem; }
  .logotipo p {
    font-size: 1.7rem;
    text-transform: uppercase;
    letter-spacing: 0.4rem;
    margin-top: 1rem;
    text-shadow: 0px 2px 1px #333333;
    transition: all 300ms;
    padding-bottom: 2rem;
    text-align: center; }
    .logotipo p a {
      text-decoration: none;
      font-family: Arial, Helvetica, sans-serif;
      color: #63B945; }
  .logotipo h1:hover {
    text-shadow: 0px 2px 1px #333333, 0px 0px 4px #63B945; }

.tarjetaCabecera {
  width: 30rem; }
  .tarjetaCabecera h2 {
    padding-bottom: 2rem;
    color: #333333; }
  .tarjetaCabecera p {
    color: #666666; }

/* BARRA DE NAVEGACIÓN */
.navegador {
  background-color: #333333;
  color: #fbfbfb;
  box-shadow: 0px 0px 2px gray;
  margin-bottom: 1.5rem; }

.navbar {
  padding: 0; }

.navbar-nav {
  align-items: center;
  transition: all 300ms;
  font-size: 1.6rem; }
  .navbar-nav a {
    padding-left: 2rem;
    padding-right: 2rem;
    width: 15rem;
    color: #fbfbfb !important;
    text-align: center; }
  .navbar-nav a:hover {
    background-color: #63B945;
    box-shadow: 0px 0px 4px green inset; }

.nav-link {
  color: white;
  height: 100%;
  padding-top: 0.7rem; }

.navbarCentrado {
  justify-content: center; }

.activo {
  background-color: #63B945;
  box-shadow: 0px 0px 4px green inset; }

.hamburguerCenter {
  margin-left: auto;
  margin-right: auto; }

/* Propiedades Carousel */
.carouselHeight {
  height: 44.3rem; }

/* SECCION TARJETAS INDEX */
.contenedor {
  text-align: center;
  padding: 30px;
  border: solid 1px #99A799;
  background-image: url("../img/fondo_papel.png");
  margin-top: 2rem; }
  .contenedor img {
    margin-top: 15px;
    margin-bottom: 15px; }
  .contenedor p {
    font-size: 20px;
    margin-bottom: 15px;
    color: #666666;
    font-weight: bold; }

.imagenGaleria {
  width: 25rem;
  height: 18rem; }

.gridIndexServicios {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas: "serviciosInclusion serviciosPrimario serviciosCfi";
  margin-top: 2rem;
  justify-content: center; }

.serviciosInclusion {
  grid-area: serviciosInclusion; }
  .serviciosInclusion a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-content: space-around;
    background-color: #63B945;
    width: 100%;
    height: 30rem; }
    .serviciosInclusion a img {
      width: 12rem;
      align-self: center; }
    .serviciosInclusion a p {
      color: #fbfbfb;
      text-align: center; }

.serviciosPrimario {
  grid-area: serviciosPrimario; }
  .serviciosPrimario a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-content: space-around;
    background-color: #3EB5C9;
    width: 100%;
    height: 30rem; }
    .serviciosPrimario a img {
      width: 12rem;
      align-self: center; }
    .serviciosPrimario a p {
      color: #fbfbfb;
      text-align: center; }

.serviciosCfi {
  grid-area: serviciosCfi; }
  .serviciosCfi a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-content: space-around;
    background-color: #FF8800;
    width: 100%;
    height: 30rem; }
    .serviciosCfi a img {
      width: 12rem;
      align-self: center; }
    .serviciosCfi a p {
      color: #fbfbfb;
      text-align: center; }

/* GRID TARJETAS */
.gridTarjetas {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas: "imagenUno imagenDos imagenTres";
  grid-column-gap: 10px;
  padding-top: 4rem; }
  .gridTarjetas p {
    color: #fbfbfb;
    padding-top: 1rem; }

.imagenUno {
  grid-area: imagenUno; }

.imagenDos {
  grid-area: imagenDos; }

.imagenTres {
  grid-area: imagenTres; }

.tarjeta {
  border: 2px solid #fbfbfb;
  width: auto; }

/* ESTILOS DE HTML LA ESCUELA */
.contenedorArticulos {
  width: 90%;
  height: auto;
  border: 1px solid grey;
  margin: 1rem;
  background-color: #fbfbfb; }

.panelHeading {
  height: 4rem;
  padding-top: 1rem;
  font-size: 1.8rem;
  color: #fbfbfb; }

.fondoVerde {
  background-color: #63B945; }

.fondoCeleste {
  background-color: #3EB5C9; }

.fondoNaranja {
  background-color: #FF8800; }

.gridContenedorEscuela {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto auto;
  grid-template-areas: "contenedorEscuela" "contenedorUbicacion" "contenedorInstitucional" "contenedorMaterias";
  grid-column-gap: 10px;
  margin-top: 1rem;
  justify-items: center; }

.contenedorEscuela {
  grid-area: contenedorEscuela; }

.contenedorUbicacion {
  grid-area: contenedorUbicacion; }

.contenedorInstituacional {
  grid-area: contenedorInstitucional; }

.contenedorMaterias {
  grid-area: contenedorMaterias; }

.contenedorMaterias {
  height: auto; }

.panelDescripcion {
  padding: 1rem;
  color: #333333; }
  .panelDescripcion p {
    padding: 1.4rem; }
  .panelDescripcion ul {
    list-style: none; }
    .panelDescripcion ul li {
      padding: 1.4rem;
      font-size: 1.4rem; }

.panelDescripcionFlex {
  display: flex;
  flex-direction: row;
  justify-content: space-between; }

.ubicacionDescripcion {
  width: 50%; }
  .ubicacionDescripcion p {
    padding: 1rem;
    font-size: 1.4rem;
    color: #333333; }

.ubicacionMapa {
  width: 50%;
  text-align: center;
  margin: 1rem; }
  .ubicacionMapa .mapa {
    width: 35rem;
    height: 30rem;
    border: 1px solid #666666; }

.botonGenerico {
  display: block;
  width: 15rem;
  text-align: center;
  font-size: 1.8rem;
  font-weight: bold;
  background-color: #63B945;
  color: #fbfbfb;
  border-radius: 1rem;
  padding: 1rem;
  margin: 1rem; }

.cardFlexIntstitucional {
  flex-grow: 1;
  border: 1px solid #666666;
  padding: 1.4rem;
  margin: 1rem;
  width: 30rem;
  height: auto; }
  .cardFlexIntstitucional h3 {
    font-size: 1.8rem;
    color: #333333; }
  .cardFlexIntstitucional p {
    font-size: 1.4rem;
    color: #666666;
    padding-top: 1.4rem; }

.cardFlexIntstitucionalTamano {
  display: flex;
  flex-direction: column;
  width: 5rem;
  justify-content: space-between; }

.tarjetasInstitucional {
  display: flex;
  flex-flow: row nowrap; }

.bloqueContenedor {
  border: 1px solid #333333;
  width: auto;
  height: 300px;
  margin-bottom: 1rem; }

.bloqueContenedor__titulo {
  font-size: 2rem;
  font-weight: bold;
  color: red; }

.bloqueContenedor__parrafo {
  color: blue;
  font-size: 1.4rem; }

.boton {
  width: 20rem;
  height: 4rem;
  border-radius: 0.4rem;
  margin: 1rem; }

.boton--verde {
  background-color: #63B945; }

.boton--rojo {
  background-color: red; }

.boton--tamano {
  width: 40rem; }

.boton--tamanoDos {
  width: 60rem; }

.bloqueContenedor__lista {
  list-style: none;
  margin: 2rem; }

.bloqueContenedor__lista--color {
  color: slateblue; }

.noticia__titulo {
  color: red;
  text-transform: uppercase; }

.noticia__titulo--tamanoUno {
  font-size: 3rem; }

.noticia__titulo--tamanoDos {
  font-size: 2 rem; }

.noticia__titulo--tamanoTres {
  font-size: 1rem; }

.noticia__titulo--colorUno {
  color: blue; }

.noticia__titulo--colorDos {
  color: fuchsia; }

.noticia__titulo--colorTres {
  color: brown; }

.bloqueContenedor__titulo--color {
  color: coral; }

.bloqueContenedor__imagen {
  background-color: grey;
  border-radius: 1rem;
  margin: 1rem; }

.bloqueContenedor__imagen--tamano {
  width: 15rem;
  height: 10rem; }

.boton {
  background-color: green; }

#boton1 {
  width: 5rem; }

#boton2 {
  width: 10rem; }

/*Creamos el bucle para usar los valores del mapa*/
#boton1 {
  background-color: green; }

#boton2 {
  background-color: red; }

#boton3 {
  background-color: blue; }

.tarjetasDivisoriasVerdes, .tarjetasDivisoriasVerdesExt {
  color: #fbfbfb;
  height: 12rem;
  background-color: #63B945; }

.tarjetasDivisoriasVerdesExt {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: auto; }
  .tarjetasDivisoriasVerdesExt p {
    text-align: center;
    font-size: 2.2rem;
    margin: 1.5rem; }

.tarjetasDivisoriasNaranjas, .tarjetasDivisoriasNaranjasExt {
  color: #fbfbfb;
  height: 12rem;
  background-color: #FF8800; }

.tarjetasDivisoriasNaranjasExt {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: auto; }
  .tarjetasDivisoriasNaranjasExt p {
    text-align: center;
    font-size: 2.2rem;
    margin: 1.5rem; }

.tarjetasDivisoriasCelestes, .tarjetasDivisoriasCelestesExt {
  color: #fbfbfb;
  height: 12rem;
  background-color: #3EB5C9; }

.tarjetasDivisoriasCelestesExt {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: auto; }
  .tarjetasDivisoriasCelestesExt p {
    text-align: center;
    font-size: 2.2rem;
    margin: 1.5rem; }

/*SECCION GALERIA */
.contenedorGaleria {
  text-align: center;
  margin: 1rem;
  padding: 1rem;
  border: solid 1px #99A799;
  border-radius: 4px;
  width: auto; }
  .contenedorGaleria h2 {
    font-size: 1.8rem;
    color: #666666;
    margin-bottom: 25px; }

.imagenGaleria {
  width: 25rem;
  height: 22rem;
  margin: 10px;
  opacity: 0.7; }

.imagenGaleria:hover {
  transform: scale(1.2);
  opacity: 1;
  z-index: 5; }

.gridPadreGaleria {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto auto auto;
  grid-template-areas: "imagenUno imagenDos imagenTres imagenCuatro" "imagenCinco imagenSeis imagenSiete imagenOcho" "imagenNueve imagenDiez imagenOnce imagenDoce";
  justify-items: center; }

.imagenUno {
  grid-area: imagenUno; }

.imagenDos {
  grid-area: imagenDos; }

.imagenTres {
  grid-area: imagenTres; }

.imagenCuatro {
  grid-area: imagenCuatro; }

.imagenCinco {
  grid-area: imagenCinco; }

.imagenSeis {
  grid-area: imagenSeis; }

.imagenSiete {
  grid-area: imagenSiete; }

.imagenOcho {
  grid-area: imagenOcho; }

.imagenNueve {
  grid-area: imagenNueve; }

.imagenDiez {
  grid-area: imagenDiez; }

.imagenOnce {
  grid-area: imagenOnce; }

.imagenDoce {
  grid-area: imagenDoce; }

/* LISTADO DE HTML DE INSTALACIONES */
.listadoInstalaciones {
  display: flex;
  flex-flow: column wrap;
  margin-top: 2rem;
  margin-bottom: 2rem;
  margin-left: auto;
  margin-right: auto;
  border: 3px solid #63B945;
  border-radius: 1rem;
  padding: 2rem;
  width: 60rem; }
  .listadoInstalaciones ol {
    margin-left: 2rem;
    padding-top: 3rem;
    margin-bottom: 3rem; }

/* FORMULARIO DE CONTACTO */
.contactForm {
  width: 46rem;
  height: auto;
  margin: 1.5rem auto;
  border-radius: 1rem;
  padding-top: 3rem;
  padding-bottom: 2rem;
  background-color: #fbfbfb;
  padding-left: 3rem; }
  .contactForm form input {
    background-color: #fbfbfb;
    width: 40.8rem;
    height: 4rem;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    border-color: #63B945;
    margin-top: 1rem;
    padding-left: 1rem;
    margin-bottom: 2rem; }
  .contactForm form select {
    background-color: #fbfbfb;
    width: 38.5rem;
    height: 40px;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    border-color: #63B945;
    margin-top: 1rem;
    padding-left: 1rem;
    margin-bottom: 2rem;
    color: #a8a8a8; }
  .contactForm form textarea {
    background-color: #fbfbfb;
    width: 40.5rem;
    height: 15rem;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    border-color: #63B945;
    margin-top: 1rem;
    padding-left: 1rem;
    margin-bottom: 2rem;
    padding-top: 1.5; }
  .contactForm form label {
    display: block;
    float: center; }
  .contactForm form button {
    height: 4.5rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    margin-bottom: 2rem;
    margin-top: 1rem;
    text-transform: uppercase;
    font-size: 1.8rem;
    color: #fbfbfb;
    background-color: #63B945;
    border-color: #63B945;
    border-style: solid;
    border-radius: 1rem;
    width: 42rem;
    cursor: pointer; }
  .contactForm form span {
    color: #63B945; }

.aviso {
  font-size: 1.3ren;
  color: #333333; }

.formulario h3 {
  font-size: 1.4rem;
  font-family: Arial, Helvetica, sans-serif;
  padding-bottom: 3rem;
  color: #333333; }

.formulario div {
  font-size: 1.4rem;
  font-family: Arial, Helvetica, sans-serif;
  color: #333333; }

.formulario input:focus {
  outline: 0;
  border: 1px solid #97d848; }

.formulario textarea:focus {
  outline: 0;
  border: 1px solid #97d848; }

/* FOOTER */
.transicion:hover {
  transition: 2s;
  font-size: 2rem; }

/* CSS FOOTER CON BOOTSTRAP */
.bgGrey {
  background-color: #333333; }

.bgGreen {
  background-color: #63B945; }

.clBlanco {
  color: #fbfbfb !important; }

.linksFooter {
  list-style: none;
  padding-left: 0; }

.linksFooter a:hover {
  color: #63B945; }

.btn {
  border-color: #fbfbfb; }
  .btn a {
    text-decoration: none;
    color: #fbfbfb; }

.redesFooter {
  color: #fbfbfb;
  font-size: 1.8rem;
  font-weight: bold;
  padding: 1rem; }

.marginTarjetasMovil {
  margin-top: 2rem;
  text-align: center;
  padding: 0px; }

/*VISTA MOVIL */
/*VISTA MOVIL CUERPO INDEX*/
@media only screen and (max-width: 576px) {
  .gridIndexServicios {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas: "serviciosInclusion"  "serviciosPrimario"  "serviciosCfi";
    margin-top: 2rem;
    justify-content: center;
    justify-items: center; }
  .serviciosInclusion {
    grid-area: serviciosInclusion;
    width: 28rem; }
    .serviciosInclusion a {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      background-color: #63B945;
      height: 30rem; }
      .serviciosInclusion a img {
        width: 12rem;
        align-self: center; }
      .serviciosInclusion a p {
        color: #fbfbfb;
        text-align: center; }
  .serviciosPrimario {
    grid-area: serviciosPrimario;
    width: 28rem; }
    .serviciosPrimario a {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      background-color: #3EB5C9;
      height: 30rem; }
      .serviciosPrimario a img {
        width: 12rem;
        align-self: center; }
      .serviciosPrimario a p {
        color: #fbfbfb;
        text-align: center; }
  .serviciosCfi {
    grid-area: serviciosCfi;
    width: 28rem;
    align-self: center; }
    .serviciosCfi a {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      background-color: #FF8800;
      height: 30rem; }
      .serviciosCfi a img {
        width: 12rem;
        align-self: center; }
      .serviciosCfi a p {
        color: #fbfbfb;
        text-align: center; }
  .container {
    padding: 3px !important; }
  .tarjetaCabecera {
    margin: auto;
    text-align: center; }
  .imagenMensaje {
    width: 25rem;
    height: 3.8rem; }
  .contenedor p {
    font-size: 1.2rem; }
  .contenedor a p {
    font-size: 1rem; }
  .tarjeta {
    width: 25rem; }
    .tarjeta img {
      width: 20rem;
      height: auto; }
    .tarjeta a p {
      font-size: 1.4rem; }
  .gridTarjetas {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas: "imagenUno" "ImagenDos" "imagenTres";
    grid-row-gap: 10px;
    padding-top: 2rem;
    width: auto;
    justify-items: center; }
  .imagenUno {
    grid-area: imagenUno; }
  .imagenDos {
    grid-area: imagenDos; }
  .imagenTres {
    grid-area: imagenTres; }
  .carouselHeight {
    height: 15rem; }
  /* VISTA MOVIL PAGINA LA ESCUELA */
  .contenedorUbicacion {
    height: auto;
    width: auto; }
  .panelDescripcionFlex {
    display: flex;
    flex-flow: column nowrap;
    align-items: center; }
  .ubicacionDescripcion {
    width: 90%;
    padding: auto; }
  .ubicacionMapa {
    width: 28rem;
    height: 24rem;
    text-align: center;
    margin: 1rem; }
    .ubicacionMapa .mapa {
      width: 28rem;
      height: 24rem;
      border: 1px solid #666666; }
  .institucionalCard {
    width: 90%; }
  .contenedorEscuela {
    width: auto;
    height: auto; }
  .panelHeading h2 {
    font-size: 1.6rem;
    padding: auto; }
  .panelDescripcion {
    font-size: 1.6rem;
    padding: auto; }
  .contenedorInstitucional {
    width: auto;
    height: auto; }
  .tarjetasInstitucional {
    display: flex;
    flex-flow: column nowrap;
    width: auto; }
  .cardFlexIntstitucionalTamano {
    width: auto;
    height: auto; }
  /* VISTA MOVIL HTML GALERIA */
  .contenedorGaleria {
    text-align: center; }
  .imagenGaleria {
    width: 22rem;
    height: 17rem;
    margin: 1rem; }
  .imagenGaleria:hover {
    filter: grayscale(100%);
    z-index: 5; }
  .gridPadreGaleria {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto auto auto auto auto auto auto auto auto auto;
    grid-template-areas: "imagenUno" "imagenDos" "imagenTres" "imagenCuatro" "imagenCinco" "imagenSeis" "imagenSiete" "imagenOcho" "imagenNueve" "imagenDiez" "imagenOnce" "imagenDoce";
    justify-items: center;
    justify-content: center; }
  .imagenUno {
    grid-area: imagenUno; }
  .imagenDos {
    grid-area: imagenDos; }
  .imagenTres {
    grid-area: imagenTres; }
  .imagenCuatro {
    grid-area: imagenCuatro; }
  .imagenCinco {
    grid-area: imagenCinco; }
  .imagenSeis {
    grid-area: imagenSeis; }
  .imagenSiete {
    grid-area: imagenSiete; }
  .imagenOcho {
    grid-area: imagenOcho; }
  .imagenNueve {
    grid-area: imagenNueve; }
  .imagenDiez {
    grid-area: imagenDiez; }
  .imagenOnce {
    grid-area: imagenOnce; }
  .imagenDoce {
    grid-area: imagenDoce; }
  /* VISTA MOVIL HTML INSTALACIONES */
  .listadoInstalaciones {
    margin-right: auto;
    margin-left: auto;
    padding: 1rem;
    width: 28rem;
    height: auto; }
    .listadoInstalaciones ol {
      width: auto; }
  /* VISTA MOVIL FORMULARIO CONTACTO */
  .contactForm {
    width: 35rem;
    height: auto;
    margin: 1.5rem auto;
    padding: 1rem;
    text-align: center; }
  .contactForm form input {
    width: 31rem;
    height: 4rem; }
  .contactForm form select {
    width: 31rem; }
  .contactForm form textarea {
    width: 31rem; }
  .contactForm form button {
    width: 30rem; }
  .formulario h2 {
    font-size: 1.8rem;
    text-align: center; }
  .formulario h3 {
    font-size: 1.2rem;
    text-align: center; }
  /* VISTA MOVIL FOOTER CON BOOTSTRAP */
  .marginTarjetasMovil {
    margin-top: 3rem;
    text-align: center;
    padding: 0px; } }

/* VISTA TABLET */
@media only screen and (min-width: 577px) and (max-width: 900px) {
  .container {
    padding: 3px !important; }
  .tarjetaCabecera {
    margin: auto;
    text-align: center; }
  .imagenMensaje {
    width: 31rem;
    height: 5.3rem; }
  .carouselHeight {
    height: 34rem; }
  .contenedor a p {
    font-size: 1.6rem; }
  .tarjeta {
    width: auto; }
    .tarjeta img {
      width: 20rem;
      height: auto; }
    .tarjeta a p {
      font-size: 1.6rem; }
  .ubicacionDescripcion {
    width: 100%; }
  .gridTarjetas {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    grid-template-areas: "imagenUno imagenDos" "imagenTres none";
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    padding-top: 4rem; }
  .imagenUno {
    grid-area: imagenUno; }
  .imagenDos {
    grid-area: imagenDos; }
  .imagenTres {
    grid-area: imagenTres; }
  /* VISTA TABLET HTML ESCUELA */
  .contenedorUbicacion {
    height: auto; }
  .panelDescripcionFlex {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    margin-left: auto;
    margin-right: auto; }
  .mapa {
    width: 30rem;
    height: 25rem; }
  /* VISTA TABLET HTML GALERIA */
  .gridPadreGaleria {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto auto auto auto;
    grid-template-areas: "imagenUno imagenDos" "imagenTres imagenCuatro" "imagenCinco imagenSeis" "imagenSiete imagenOcho" "imagenNueve imagenDiez" "imagenOnce imagenDoce";
    justify-items: center; }
  .imagenUno {
    grid-area: imagenUno; }
  .imagenDos {
    grid-area: imagenDos; }
  .imagenTres {
    grid-area: imagenTres; }
  .imagenCuatro {
    grid-area: imagenCuatro; }
  .imagenCinco {
    grid-area: imagenCinco; }
  .imagenSeis {
    grid-area: imagenSeis; }
  .imagenSiete {
    grid-area: imagenSiete; }
  .imagenOcho {
    grid-area: imagenOcho; }
  .imagenNueve {
    grid-area: imagenNueve; }
  .imagenDiez {
    grid-area: imagenDiez; }
  .imagenOnce {
    grid-area: imagenOnce; }
  .imagenDoce {
    grid-area: imagenDoce; }
  /* VISTA TABLET HTML INSTALACIONES */
  .listadoInstalaciones {
    margin-right: auto;
    margin-left: auto;
    width: 45rem;
    height: auto; }
    .listadoInstalaciones ol {
      width: auto; }
  /* VISTA MOVIL FOOTER CON BOOTSTRAP */
  .marginTarjetasMovil {
    margin-top: 3rem;
    text-align: center;
    padding: 0px; } }

.tituloPrincipal {
  font-size: 25rem; }

section h2 {
  font-size: 1.9rem;
  text-align: center; }
