/* ESTILOS DE HTML LA ESCUELA */

.contenedorArticulos {
    width: 90%;
    height: auto;
    border: 1px solid grey;
    margin: 1rem;
    background-color: $color-blanco;
}

.panelHeading {
    height: 4rem;
    padding-top: 1rem;
    font-size: 1.8rem;
    color: $color-blanco;
    // h2 {
    //     font-size: 1.8rem;
    //     color: $color-blanco;
    //     margin-left: 10px;
    // }
}

.fondoVerde {
    background-color: $color-verde;
}

.fondoCeleste {
    background-color: $color-celeste;
}

.fondoNaranja {
    background-color: $color-naranja;
}

.gridContenedorEscuela {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto auto;
    grid-template-areas:
        "contenedorEscuela"
        "contenedorUbicacion"
        "contenedorInstitucional"
        "contenedorMaterias"
    ;
    grid-column-gap: 10px;
    margin-top: 1rem;
    justify-items: center;
}

.contenedorEscuela {
    grid-area: contenedorEscuela;
}

.contenedorUbicacion {
    grid-area: contenedorUbicacion;
}

.contenedorInstituacional {
    grid-area: contenedorInstitucional;
}

.contenedorMaterias {
    grid-area: contenedorMaterias;
}

.contenedorMaterias{
    height: auto;
}

.panelDescripcion {
    color: $color-gris-claro;
    ul {
        list-style: none;
        li {
            font-size: 1.6rem;
        }
    } 
}

.panelDescripcionFlex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.ubicacionDescripcion {
    width: 50%;
    p {
        color: $color-gris-claro;
    }
} 

.ubicacionMapa {
    width: 50%;
    text-align: center;
    margin: 1rem;
    .mapa {
        width: 100%;
        height: 30rem;
        // border: 1px solid $color-gris-claro;
        
    }
}

.botonGenerico {
    display: block;
    width: 12rem;
    text-align: center;
    font-size: 1.2rem;
    font-weight: bold;
    background-color: $color-naranja;
    color: $color-blanco;
    border-radius: 1rem;
    padding: 1rem;
    margin: 1rem;
}

.cardFlexIntstitucional {
    flex-grow: 1;    
    width: 30rem;
    height: auto;
    h3 {
        font-size: 1.8rem;
        color: $color_gris_claro;
        margin-right: 3rem;
    }
    p {
        color: $color_gris_claro;
        padding-top: 0.4rem;
        margin-right: 3rem;
    }
}

.cardFlexIntstitucional:first-child {
    border-right: 1px solid $color_gris_claro;
    margin-right: 3rem;
}


.cardFlexIntstitucionalTamano {
    display: flex;
    flex-direction: column;
    width: 5rem;
    justify-content: space-between;
}

.tarjetasInstitucional {
    display: flex;
    flex-flow: row nowrap;
}