@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');

* {
    text-decoration: none;
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
}

body{
    background-image: url("../img/tramado.png");
}

html { 
    font-size: 62.5%;
}

h1{
    font-size: 2.9rem; 
    color: $color-verde;
    font-weight: bold;
    text-align: center;
}

p, li{
    font-size: 1.6rem;
    color: $color-gris-claro;
}

h2 {
    color: $color-gris-claro;
}

a {
    text-decoration: none;
}

.paddingCero {
    padding: 0;
}

.marginFinal {
    margin-bottom: 1rem;
}

.clearStylesMP {
    margin: 0!important;
    padding: 0!important;
}

.clearStylesBorderRadius {
    border-radius: 0;
}

.transicion:hover {
    transform: scale(1.5);
    transition: 2s;
}

.animacionIzquierda {
    animation-duration: 2s;
    animation-name: slideinIzquierda;
    overflow: hidden;
}

@keyframes slideinIzquierda {
    from {
        transform: translateX(-300%);
    }
    to {
        transform: translateX(0%);
    }
}

.animacionDerecha {
    animation-duration: 2s;
    animation-name: slideinDerecha;
    overflow: hidden;
}

@keyframes slideinDerecha {
    from {
        transform: translateX(300%);
    }
    to {
        transform: translateX(0%);
    }
}

.animacionArriba {
    animation-duration: 2s;
    animation-name: slideinArriba;
    overflow: hidden;
}

@keyframes slideinArriba {
    from {
        transform: translatey(-300%);
    }
    to {
        transform: translateX(0%);
    }
}

.animacionAbajo {
    animation-duration: 2s;
    animation-name: slideinAbajo;
    overflow: hidden;
}

@keyframes slideinAbajo {
    from {
        transform: translateX(300%);
    }
    to {
        transform: translateX(0%);
    }
}

.ImagenesServicios {
    width: 35rem;
}