@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');

* {
    text-decoration: none;
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
}

body{
    background-image: url("../img/tramado.png");
}

html { 
    font-size: 62.5%;
}

h1{
    font-size: 2.9rem; 
    color: $color-verde;
    font-weight: bold;
    text-align: center;
}

p, li {
    font-size: 1.6rem;
}

a {
    text-decoration: none;
}

.paddingCero {
    padding: 0;
}

.marginFinal {
    margin-bottom: 1rem;
}